<h1>Show Topics</h1>

<ul>

  <li>
    <strong>Id:</strong>
    <%= @topics.id %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @topics.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @topics.description %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @topics.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.topics_path(@conn, :edit, @topics) %></span> |
<span><%= link "Back", to: Routes.topics_path(@conn, :index) %></span>
