<div class="card bg-light">
  <div class="card-body">
    <ul>
      <li>
        <strong>Topic:</strong>
        <%= @post.topic_id %>
      </li>
      <li>
        <strong>User:</strong>
        <%= @post.user_id %>
      </li>
      <li>
        <strong>Parent:</strong>
        <%= @post.parent_id %>
      </li>
      <li>
        <strong>Content:</strong>
        <%= @post.content %>
      </li>
    </ul>
  </div>
</div>

