<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no"/>
    <meta name="generator" content="WordPress 6.0.2" />
    <meta name="generator" content="WooCommerce 6.9.3" />
    <meta name="author" content="@mithereal"/>
    <meta name="description" content="<%= Application.get_env(:api, :description, "") %>"/>
    <meta name="keywords" content="<%= Application.get_env(:api, :keywords, "") %>"/>
    <meta name="robots" content="<%= Application.get_env(:api, :robots, "noindex, nofollow") %>"/>
    <meta name="application-name" content="<%= Application.get_env(:api, :application_name, "") %>"/>
    <meta name="msapplication-starturl" content="<%= ApiWeb.Endpoint.url() %>"/>
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="theme-color" content="<%= Application.get_env(:api, :theme_color, "#4285f4") %>"/>

    <meta property="og:type" content="<%= Application.get_env(:api, :og_type, "website") %>"/>
    <meta property="og:title" content="<%= Application.get_env(:api, :og_title, "") %>"/>
    <meta property="og:url" content="<%= ApiWeb.Endpoint.url() %>"/>
    <meta property="og:image" content="<%= ApiWeb.Endpoint.url() %>/images/api_richSnippet.png"/>
    <meta property="og:description" content="<%= Application.get_env(:api, :og_description, "") %>"/>
    <meta property="og:locale" content="<%= Application.get_env(:api, :og_locale, "en_US") %>"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "" %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/wp-includes/css/buttons.min.css?ver=1.1") %>"/>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/root.css") %>"/>

    <%= render "_dark_mode.js.html" %>
    <%= render "_apple_touch_header.html", assigns %>

    <style>[x-cloak] {
        display: none !important;
    }</style>

    <script type="text/javascript">
        document.documentElement.classList.remove("no-js");
    </script>

    <script phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/modernizr_webp.js") %>"></script>

    <script defer phx-track-static type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/root.js") %>"></script>
    <script defer phx-track-static type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/service-worker.js") %>"></script>

    <%= if @manifest do %>
    <link rel="manifest" href="<%= Routes.static_path(@conn, @manifest) %>">
    <% end %>

    <%= if @meta_pixel_id do %>
    <%= render "_meta_pixel.html", meta_pixel_id: @meta_pixel_id %>
     <% end %>

</head>
<body class="woocommerce-no-js">

<!-- start::Topbar -->
<header class="container">
    <div class="root_menu_header">
        <div class="root_logo">
            <a href="/" ><img src="/images/logo.png" /> </a>
        </div>

        <!-- start::Mobile menu button -->
        <div class="menu_container">
            <button
                    @click="menuOpen = true"
                    class="menu_container_button"
            >
                <svg class="menu_container_button_svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"></path></svg>
            </button>

        </div>
        <!-- end::Mobile menu button -->

        <!-- start::Right side top menu -->
        <div class="menu_button_container">
            <div class="root_menu_items_header">
                <%= link "Contact", to: Routes.page_path(@conn, :contact), class: "contact", title: "Contact" %>
            </div>
            <%= link "Sign In", to: Routes.user_session_path(@conn, :new), class: "sign_in", title: "Sign In" %>
            <%= link "Sign up", to: Routes.user_registration_path(@conn, :new), class: "sign_up", title: "Sign Up" %>
            <div  x-subscribe>
                <template x-if="$store.cart !== undefined && $store.cart.id != null">
                    &nbsp
                <svg xmlns="http://www.w3.org/2000/svg" class="h-25 w-25" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
                </svg>
                </template>
            </div>
        </div>
        <!-- end::Right side top menu -->

    </div>
</header>
<!-- end::Topbar -->

<%= @inner_content %>

<footer>
    <div class="footer_container">
        <a href="/" ><span>&copy;2022 <script>window.location.hostname</script></span></a>
        <div class="footer_links">
            <span><%= link "Terms", to: Routes.page_path(@conn, :terms), title: "Terms"  %></span>
            <span><%= link "Privacy", to: Routes.page_path(@conn, :privacy), title: "Privacy"  %></span>
        </div>
    </div>
    <span class="powered-by-wordpress"></span>
</footer>
</body>




</html>
