<h1>Show Smiles</h1>

<%= if @live_action in [:edit] do %>
  <.modal return_to={Routes.smiles_show_path(@socket, :show, @smiles)}>
    <.live_component
      module={ApiWeb.SmilesLive.FormComponent}
      id={@smiles.id}
      title={@page_title}
      action={@live_action}
      smiles={@smiles}
      return_to={Routes.smiles_show_path(@socket, :show, @smiles)}
    />
  </.modal>
<% end %>

<ul>

  <li>
    <strong>Smilies:</strong>
    <%= @smiles.smilies_id %>
  </li>

  <li>
    <strong>Code:</strong>
    <%= @smiles.code %>
  </li>

  <li>
    <strong>Smile url:</strong>
    <%= @smiles.smile_url %>
  </li>

  <li>
    <strong>Emoticon:</strong>
    <%= @smiles.emoticon %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.smiles_show_path(@socket, :edit, @smiles), class: "button" %></span> |
<span><%= live_redirect "Back", to: Routes.smiles_index_path(@socket, :index) %></span>
